<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/faae8134-3568-4372-8d6f-220e1b8697ac/resourceGroups/Visual-Studio-RG/providers/Microsoft.Web/sites/3DSky</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://3dsky.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>3dsky.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>3DSky</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$3DSky</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>